@import "tailwindcss";
@font-face {
  font-family: "Manrope";
  src: url("./fonts/Manrope-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@theme {
  /* base font */
  --font-display: "Roboto", "sans-serif";

  /* breakpoints */
  --breakpoint-xs: 360px;
  --breakpoint-sm: 520px;
  --breakpoint-md: 720px;
  --breakpoint-lg: 880px;
  --breakpoint-xl: 1020px;
  --breakpoint-2xl: 1366px;
  --breakpoint-3xl: 1920px;

  /* colors */

  --color-primary: #b22930;
  --color-primary-active: #7a1a1f;
  --color-primary-hover: #8f1f25;
  --color-primary-light-hover: #F2DADA;
  --color-primary-disabled: #b17578;

  --color-secondary: #2e7d77;
  --color-secondary-active: #1f6661;
  --color-secondary-hover: #296d68;
  --color-secondary-disabled: #5c7875;

  --color-bg-light: #eeeeee;
  --color-bg-light-100: #e2dede;
  --color-bg-light-200: #9c9898;

  --color-bg-dark: #292929;
  --color-bg-dark-100: #232321;

  --color-black: #1a1b19;
  --color-black-variant: #101012;

  --color-white: #ffffff;

  --color-text-muted: #babbba;
  --color-text-subtle: #8c8d8c;
  --color-text-secondary: #5f5f5e;

  --radius-xs: 2px;
  --radius-sm: 4px;
  --radius-md: 6px;
  --radius-lg: 10px;
  --radius-xl: 12px;

  /* headings */

  --text-h1: clamp(1.5rem, 5vw, 1.625rem);
  --text-h1-line-height: calc(var(--text-h1) * 1.4);
  --text-h1-letter-spacing: 0.125rem;
  --text-h1-font-weight: 500;
  --text-h1-font-family: "Manrope";

  --text-h2: clamp(1rem, 4vw, 1.5rem);
  --text-h2-line-height: calc(var(--text-h2) * 1.4);
  --text-h2-letter-spacing: 0.125rem;
  --text-h2-font-weight: 400;
  --text-h2-font-family: "Manrope";

  --text-h3: clamp(0.875rem, 3vw, 1.25rem);
  --text-h3-line-height: calc(var(--text-h3) * 1.2);
  --text-h3-letter-spacing: 0.125rem;
  --text-h3-font-weight: 400;
  --text-h3-font-family: "Manrope";

  /* regular text sizes */
  --text-regular: clamp(0.875rem, 2.5vw, 1rem);
  --text-regular-line-height: calc(var(--text-regular) * 1.1);
  --text-regular-letter-spacing: 0.125rem;
  --text-regular-font-weight: 400;
  --text-regular-font-family: "Roboto";

  --text-small: clamp(0.75rem, 2vw, 0.875rem);
  --text-small-line-height: calc(var(--text-small) * 1.1);
  --text-small-letter-spacing: 0.125rem;
  --text-small-font-weight: 400;
  --text-small-font-family: "Roboto";

  --text-caption: clamp(0.625rem, 1.5vw, 0.75rem);
  --text-caption-line-height: calc(var(--text-caption) * 1.2);
  --text-caption-letter-spacing: 0.125rem;
  --text-caption-font-weight: 400;
  --text-caption-font-family: "Roboto";
}

:root {
  background-color: var(--color-black);
  color: var(--color-black);
}

h1 {
  font-family: var(--text-h1-font-family);
  font-size: var(--text-h1);
  line-height: var(--text-h1-line-height);
  letter-spacing: var(--text-h1-letter-spacing);
  font-weight: var(--text-h1-font-weight);
}

h2 {
  font-family: var(--text-h2-font-family);
  font-size: var(--text-h2);
  line-height: var(--text-h2-line-height);
  letter-spacing: var(--text-h2-letter-spacing);
  font-weight: var(--text-h2-font-weight);
}

h3 {
  font-family: var(--text-h3-font-family);
  font-size: var(--text-h3);
  line-height: var(--text-h3-line-height);
  letter-spacing: var(--text-h3-letter-spacing);
  font-weight: var(--text-h3-font-weight);
}
